{% extends "./partials/layout.twig" %}
{% block content %}
{% include "./partials/nav.twig" %}
{% block title %}Home page{% endblock %}
<h1>Hello</h1>
<button class = "button is-primary">Primary</button>
<button class = "button is-dark">Primary</button>
<div class="notification is-primary">
  <button class="delete"></button>
  Primar lorem ipsum dolor sit amet, consectetur
  adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
</div>
<button class="button is-small">Small</button>
<button class="button">Default</button>
<button class="button is-normal">Normal</button>
<button class="button is-medium">Medium</button>
<button class="button is-large">Large</button>

{% endblock %}
